.flash-message {
  max-width: 1440px;
  margin: auto;
  padding: 0.25rem;
  border-radius: 5px;
  z-index: 1000;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 1;
  /* Set initial opacity to 1 */
  transform: translateX(0);
  /* Set initial transform */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  /* Add transition to the transform property */
}

.flash-message.success {
  background-color: #e0ffe0;
  /* Solid success background color */
  color: #035F02;
}

.flash-message.error {
  background-color: #ffe0e0;
  /* Solid error background color */
  color: #990000;
}

.flash-message.hidden {
  opacity: 0;
  /* Set opacity to 0 when hidden */
  transform: translateX(100%);
  /* Move the element out of view */
}