@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: auto;
  max-width: 100%;
  font-family: 'Montserrat';
  background: #15202D;
  color: #fff;
  line-height: 1.5rem;
  font-size: 100%;
}

header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1440px;
  margin: auto;
}

main .container {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu {
  font-style: normal;
  line-height: 1.25rem;
  text-align: center;
  color: white;
}

.menu ul {
  color: white;
  list-style-type: none;
  padding: 0;
  display: flex;
}

.menu a {
  /* float: left; */
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

button {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

button a {
  text-decoration: none;
  color: white;
}

.primary {
  background: #C57900;
}

.secondary {
  background: #3C4850;
}

.footer {
  display: grid;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 4.5rem;
}

.title {
  font-style: normal;
  font-size: 3.25rem;
  line-height: 4rem
}

.title .inner-text {
  color: #C57900;
}

.small {
  font-size: 2rem;
  line-height: 2rem;
}

.service-section {
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.service-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
}

@media only screen and (max-width: 600px) {
  .service-list {
    grid-template-columns: repeat(6, 1fr);
  }
 }

.service-container {
  grid-column: span 2;
}

.service-card {
  width: 100%;
  display: grid;
  gap: 1.5rem;
}

.service-container .description {
  text-align: center;
}

.svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section {
  height: 18rem;
  margin-top: 10rem;
}

.about-titles {
  width: 50%;
  float: left;
  display: grid;
  gap: 1.5rem;
}

.about-content {
  width: 50%;
  float: left;
  display: grid;
  gap: 1.5rem;
}

.contact-section {
  height: 18rem;
  margin-top: 10rem;
}

.contact-info {
  float: left;
  width: 50%;
  display: grid;
  gap: 1.5rem;
}

.contact-form {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}