@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: auto;
  max-width: 1440px;
  font-family: 'Montserrat';
  background: #15202D;
  color: #fff;
  line-height: 1.5rem;
  font-size: 100%;
}

header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 75em;
  margin: auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 69.08px;
  width: 100%;
}

.menu {
  font-style: normal;
  line-height: 1.25rem;
  text-align: center;
  color: white;
}

.menu ul {
  color: white;
  list-style-type: none;
  padding: 0;
  display: flex;
}

.menu a {
  /* float: left; */
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

button {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

button a {
  text-decoration: none;
  color: white;
}

.primary {
  background: #C57900;
}

.secondary {
  background: #3C4850;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section {
  background-image: url('/images/bg-hero.png');
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  font-style: normal;
  font-size: 3.25rem;
  line-height: 4rem
}

.title .inner-text {
  color: #C57900;
}

.service-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-container .description {
  text-align: center;
}