.about-page {
  display: grid;
  gap: 3rem;
}

.about-page .team-list {
  display: grid;
  gap: 3rem;
}

.member .left-container {
  float: left;
  width: 60%;
}

.member .right-container {
  float: left;
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.member .member-info {
  display: grid;
  gap: 1rem;
}

.member img {
  max-width: 300px;
  max-height: 300px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .about-page .title {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .about-page .title {
    text-align: center;
  }

  .about-page .member {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .about-page .right-container {
    order: 1;
    width: 100%;
    justify-content: center;
  }

  .about-page .left-container {
    order: 2;
    width: 100%;
  }
}