.hero-section {
  background-image: url('/images/bg-hero-1.png');
  background-position-x: 100%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  display: grid;
  gap: 3rem;

}

.hero-button {
  display: flex;
  gap: 1rem;
}

.about-titles {
  width: 50%;
  float: left;
  display: grid;
  gap: 3rem;
}

.about-content {
  width: 50%;
  float: left;
  display: grid;
  gap: 3rem;
}

.service-section {
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
}

.service-container {
  grid-column: span 2;
}

.service-container .description {
  text-align: center;
}