.hero-section {
  background-image: url('/images/bg-hero-1.png');
  background-position-x: 100%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  display: grid;
  gap: 3rem;

}

.hero-button {
  display: flex;
  gap: 1rem;
}

.about-titles {
  width: 50%;
  float: left;
  display: grid;
  gap: 3rem;
}

.about-content {
  width: 50%;
  float: left;
  display: grid;
  gap: 3rem;
}

.service-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
}

.service-section .service-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
}

.service-section .service-container {
  grid-column: span 2;
}

.service-container .description {
  text-align: center;
}

.service-container .service-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-items: center;
}



@media screen and (max-width: 480px) {
  
} 


@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero-section .title, .hero-section .hero-content {
    text-align: center;
  }

  .hero-button {
    justify-content: center;
  }
  
  .service-section .title {
    text-align: center;
  }

  .service-section .service-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .service-section .service-container {
    grid-column: unset;
    justify-content: center;
  }

  .about-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .about-titles {
    width: 100%;
    float: left;
    display: grid;
    gap: 3rem;
  }
  
  .about-content {
    width: 100%;
    float: left;
    display: grid;
    gap: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .hero-section .title, .hero-section .hero-content {
    text-align: center;
  }

  .hero-button {
    justify-content: center;
  }

  .service-section .title {
    text-align: center;
  }

  .service-section .service-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .service-section .service-container {
    grid-column: unset;
    justify-content: center;
  }

  .about-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .about-titles {
    width: 100%;
    float: left;
    display: grid;
    gap: 3rem;
  }
  
  .about-content {
    width: 100%;
    float: left;
    display: grid;
    gap: 3rem;
  }
}


