.portfolio-page {
  display: grid;
  gap: 3rem;
}

.portfolio-list {
  display: flex;
  gap: 4rem;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .portfolio-page {
    text-align: center;
  }
}