.service-page {
  display: grid;
  gap: 3rem;
}

.service-page .service-card {
  display: grid;
  gap: 1.5rem;
}

.service-page .service-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.service-container-detailed {
  flex-basis: calc(50% - 0.5rem);
  width: 100%;
  background: #3C4850;
  border-radius: 1rem;
  min-height: 50ex;
}

.service-container-detailed .service-card {
  max-width: 90%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
}

.service-card .title {
  font-size: 2rem;
}

.service-card .svg-container {
  justify-content: left;
}

.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .service-container-detailed {
    flex-basis: calc(100% - 0.5rem);
  }
}